<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidFour"
        tools:targetApi="31">
        <activity
            android:name=".retrofit.RetrofitTwoActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit.RetrofitOneActivity"
            android:exported="false" />
        <activity
            android:name=".httpclient.OkhttpPageActivity"
            android:exported="false" />
        <activity
            android:name=".view_pager2.Viewpager2ThreeActivity"
            android:exported="false" />
        <activity
            android:name=".view_pager2.Viewpager2TwoActivity"
            android:exported="false" />
        <activity
            android:name=".view_pager2.Viewpager2OneActivity"
            android:exported="false" />
        <activity
            android:name=".view_pager.ViewPagerTwoActivity"
            android:exported="false" />
        <activity
            android:name=".view_pager.ViewpagerOneActivity"
            android:exported="false" />
        <activity
            android:name=".recycler_view.RecyclerViewOneActivity"
            android:exported="false" />
        <activity
            android:name=".listView.ListviewTwoActivity"
            android:exported="false" />
        <activity
            android:name=".BottomNavigationHomeActivity"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewOneActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>